* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}



body {
    background-color: #F5F5F5;
  }
  .navbar {
    background-color: #282828;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  .form-control {
    background-color: #333;
    color: #fff;
    border-color: #282828;
  }
  
  .form-control::placeholder {
    color: #fff;
  }
  
  .btn-outline-light {
    background-color: #282828;
    color: #fff;
    border-color: #fff;
  }
  .container1 {
    width: 500px;
    margin: 50px auto;

}
  h1 {
    margin-bottom: 40px;
  }
  
  .form-group {
    display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #1DB954;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #error-message {
    color: red;
    margin-top: 20px;
  }
  #login-form {
    width: 400px;
    margin: 50px auto;
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
  }
  
  #login-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  #login-form label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #login-form input[type="text"], #login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 0px 10px #ccc;
    background-color: white;
  }
  
  #login-form input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #1DB954;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  #login-form p {
    margin-top: 30px;
    font-size: 16px;
  }
  
  #login-form #sign-up-button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
  }
  
  .category {
    flex-basis: 48%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(45deg, #ff0084, #33001b);
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .category:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  .category img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .category h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: white;
  }
  