body {
    background-color: white;
  }
  
  .navbar {
    background-color: #282828;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  .form-control {
    background-color: #333;
    color: #fff;
    border-color: #282828;
  }
  
  .form-control::placeholder {
    color: #fff;
  }
  
  .btn-outline-light {
    background-color: #282828;
    color: #fff;
    border-color: #fff;
  }
  .container1 {
    width: 500px;
    margin: 50px auto;
    
  }
  
  h1 {
    margin-bottom: 40px;
  }
  
  .form-group {
    display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #1DB954;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #error-message {
    color: red;
    margin-top: 20px;
  }
  #login-form {
    width: 400px;
    margin: 50px auto;
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
  }
  
  #login-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  #login-form label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #login-form input[type="text"], #login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 0px 10px #ccc;
    background-color: white;
  }
  
  #login-form input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #1DB954;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  #login-form p {
    margin-top: 30px;
    font-size: 16px;
  }
  
  #login-form #sign-up-button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;
  }
  
  