body {
    background-color: white;
  }
  
  .navbar {
    background-color: #282828;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  .form-control {
    background-color: #333;
    color: #fff;
    border-color: #282828;
  }
  
  .form-control::placeholder {
    color: #fff;
  }
  
  .btn-outline-light {
    background-color: #282828;
    color: #fff;
    border-color: #fff;
  }
  